@import-normalize;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #142432;
  color: #fff;
  margin: 0;
  padding: 2rem 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', cursive;
  margin: 0;
}

p {
  margin: 0;
}

input::-webkit-input-placeholder {
  color: #fff;
}
